.acciones-pagina {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: sticky;
  top: $header-height;
  width: $wrapper-size;
  margin: auto;

  background-color: #FFFE;
}

#buscador-boton {
  margin-left: 0;
  font-size: 0.9rem;
}
