@mixin btn($color-fondo) {
  border: 2px solid $color-fondo;
  border-radius: 0.3rem;

  background-color: $color-fondo;
  color: white;

  max-width: fit-content;
  padding: 0.3rem 0.5rem;
  margin: 0.1rem;

  transition: all 0.5s;

  cursor: pointer;

  &:hover{
    color: $color-fondo;
    background-color: white;
  }
}
