#paginacion {

    ul {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        list-style: none;
    }

    li.elemento-paginacion {
        background-color: $paginacion-color-background;
        color: black;

        border-radius: 0.6rem;
        padding: 0.4rem;

        cursor: pointer;

        &:hover {
            background-color: $paginacion-hover-color-background;
        }

        &.elemento-paginacion-activo {
            background-color: $paginacion-activo-color-background;
            color: white;
        }

        &[disabled] {
            background-color: $paginacion-color-background;
            color: $color-gris-medio;
            cursor: not-allowed;
        }
    }

    .paginacion-resultados {
        margin: 0.5rem 0 0 0;
    }
}
