#paginacion {

    ul {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        list-style: none;
    }

    li.elemento-paginacion {
        background-color: $color-gris-suave;
        color: black;
        border-radius: 0.6rem;
        padding: 0.4rem;

        cursor: pointer;

        &.elemento-paginacion-activo {
            background-color: $color-gris-medio;
            color: white;
        }
    }

    .paginacion-resultados {
        margin: 0.5rem 0 0 0;
    }
}
