#navegacion-principal {
  width: $wrapper-size;
  margin: auto;

  background-color: $nav-color-background;
  color: $nav-color-foreground;

  transform: skewX(-15deg);

  ul {
    display: flex;

    padding: 0;
    margin: 0;

    list-style-type: none;
    text-transform: capitalize;

    li {
      &.activo {
        background-color: $nav-activo-color-background;
        color: $nav-activo-color-foreground
      }

      &:hover {
        background-color: $nav-hover-color-background;
        color: $nav-color-background;
        transition: all $nav-color-transition-time ease 0s;
      }

      a {
        padding: 0 1rem;
        display: flex;
        align-items: center;
        height: $header-height;

        transform: skewX(15deg);

        // Icono
        i { margin-right: 0.5rem; }
      }
    }
  }
}
