.factura-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 0.5rem;

  border: 1px solid $color-gris-medio;
  margin-bottom: 0.5rem;

  &:nth-of-type(odd) {
    background-color: $color-gris-suave;
  }

  p {
    margin: 0.6rem 0;
  }

  .factura-botones {
    flex: 1 0 100%;
  }

  .factura-resumen-datos {
    display: flex;
    flex: 1 0 50%;
    flex-wrap: wrap;
    gap: 0.5rem;

    border-right: 1px dashed $color-gris-medio; // Línea separadora
    padding: 0.5rem;

    .factura-resumen {
      background-color: lighten($color-azul, 40%);
      padding: 0.5rem;
      border-radius: 0.25rem;
    }
  }

  .factura-items {
    flex-grow: 1;
    flex-shrink: 1;

    padding-right: 0.55rem;

    .factura-item {
      margin-bottom: 1.4rem;

      p {
        margin: 0.6rem 0;
      }

      .item-importe {
        font-weight: bold;
      }
    }
  }
}

.editor-factura {

  fieldset { border: 0; }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-bottom: 1rem;
    border-bottom: 1px solid #666;
  }

  .listado-conceptos {
    .factura-concepto {
      display: flex;
      align-items: center;
      justify-content: space-between;

      fieldset {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        textarea { width: 90%; }
      }
    }
  }
}

.buscador-clientes {

  min-width: 40vw;

  input {
    width: 100%;
  }

  .buscador-clientes-resultados {

    margin: 0.6rem 0;

    width: 100%;
    max-height: 50vh;
    overflow-y: scroll;
  }

  .buscador-clientes-resultado {
    background-color: $color-gris-suave;
    margin: 0.4rem;
    padding: 0.2rem;
    border-radius: 0.2rem;

    p {
      margin: 0;
    }

    &:hover {
      background-color: #e2e2ff;
    }
  }
}
.buscador-clientes-modal {
  border-color: $color-violeta !important;
  background: linear-gradient(0deg, lighten($color-violeta, 50%) 0%, #FFF 35%) !important;
}
