.factura-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 0.5rem;

  border: 1px solid $color-gris-medio;
  margin-bottom: 0.5rem;

  &:nth-of-type(odd) {
    background-color: $color-gris-suave;
  }

  p {
    margin: 0.6rem 0;
  }

  .factura-botones {
    flex: 1 0 100%;
  }

  .factura-resumen-datos {
    display: flex;
    flex-direction: column;
    flex: 1 0 50%;
    flex-wrap: wrap;
    gap: 0.5rem;

    border-right: 1px dashed $color-gris-medio; // Línea separadora
    padding: 0.5rem;

    .factura-resumen {
      background-color: lighten($color-azul, 40%);
      padding: 0.5rem;
      border-radius: 0.25rem;
    }
  }

  .factura-items {
    flex-grow: 1;
    flex-shrink: 1;

    padding-right: 0.55rem;

    .factura-item {
      margin-bottom: 1.4rem;

      p {
        margin: 0.6rem 0;
      }

      .item-importe {
        font-weight: bold;
      }
    }
  }
}

.editor-factura {

  fieldset { border: 0; }

  header {

    padding-bottom: 1rem;
    border-bottom: 1px solid #666;

    .factura-importe {
      font-size: 1.25em;

      margin: 1rem 0;
      padding: 0.6rem;

      background-color: $color-gris-suave;

      display: flex;
      justify-content: space-around;
    }

    fieldset {
      display: grid;
      align-items: center;
      grid-template-columns: 1fr 3fr;
      gap: 1.2rem;

      & > div {
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }

      .cliente-vista { padding: 0 1rem; }
    }

    input, select, button { max-width: 20vw; }

    label { text-align: right; }

    #input-iva { max-width: 10vw; }
  }

  .listado-conceptos {

    padding-top: 1rem;

    .factura-concepto {
      display: flex;
      justify-content: space-between;

      padding: 0.4rem;
      gap: 0.4rem;

      &:nth-of-type(even) {
        background-color: $color-gris-suave;
      }

      input, textarea, button { height: 2rem; }

      textarea { width: 90%; }
    }
  }
}

.buscador-clientes {

  min-width: 40vw;

  input {
    width: 100%;
  }

  .buscador-clientes-resultados {

    margin: 0.6rem 0;

    width: 100%;
    max-height: 50vh;
    overflow-y: scroll;
  }

  .buscador-clientes-resultado {
    background-color: $color-gris-suave;
    margin: 0.4rem;
    padding: 0.2rem;
    border-radius: 0.2rem;

    p {
      margin: 0;
    }

    &:hover {
      background-color: #e2e2ff;
    }
  }
}
.buscador-clientes-modal {
  border-color: $color-violeta !important;
  background: linear-gradient(0deg, lighten($color-violeta, 50%) 0%, #FFF 35%) !important;
}
